<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Patch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Rename EHC1 to EH01 (USB)</string>
				<key>Find</key>
				<data>
				RUhDMQ==
				</data>
				<key>Replace</key>
				<data>
				RUgwMQ==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename EHC2 to EH02 (USB)</string>
				<key>Find</key>
				<data>
				RUhDMg==
				</data>
				<key>Replace</key>
				<data>
				RUgwMg==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename XHCI to XHC (USB)</string>
				<key>Find</key>
				<data>
				WEhDSQ==
				</data>
				<key>Replace</key>
				<data>
				WEhDXw==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename XHC1 to XHC (USB)</string>
				<key>Find</key>
				<data>
				WEhDMQ==
				</data>
				<key>Replace</key>
				<data>
				WEhDXw==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
		</array>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Patch</key>
		<array>
			<dict>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>USB Port limit patch #1/2 10.15.x (credit DalianSky)</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				g/sPDw==
				</data>
				<key>Identifier</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MatchKernel</key>
				<string>19.</string>
				<key>Replace</key>
				<data>
				g/s/Dw==
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>USB Port limit patch #2/2 10.15.x (credit DalianSky)</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				g/kPDw==
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MatchKernel</key>
				<string>19.</string>
				<key>Replace</key>
				<data>
				g/k/Dw==
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
